body {
    background-color: #97beec;

}

.collapse {
    background-color: #7572EE;
}

.searchBar {

    margin-right: 450px;
}

.vector {
    height: 70px;
    width: 70px;
    margin-right: 388px;

}

.weather {
    position: relative;
    right: 370px;
    top: 25px;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.container1 {
    width: 1160px;
    height: 250px;
    border: 3px solid black;
    margin: 20px auto 0;
    background-color: white;
}

#localTimeLabel,
#time,
#localDate,
#date {
    margin-bottom: 5px;
    font-family: 'Amaranth', sans-serif;
    margin-left: 80px;
}

#localTimeLabel {
    font-size: 30px;
    font-weight: bold;
}

#time {
    font-size: 30px;
}


.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    margin-right: 100px;
}

#localDate,
#date {
    margin-bottom: 15px;
    font-family: 'Amaranth', sans-serif;
    font-size: 24px;
    /* Adjust the font size as needed */
}

.containerStar {
    margin-left: 1360px;
    margin-top: -70px;
}

#weatherType {
    font-size: 40px;
    font-family: 'Amaranth', sans-serif;
    margin-left: 120px;
    margin-top: 20px;
}

#current {
    margin-left: 350px;
    margin-top: -130px;
    font-family: 'Amaranth', sans-serif;
    font-size: 73px;

}

.img-fluid {
    margin-left: 130px
}

#feelsLike {
    margin-left: 345px;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
}

#highest {
    margin-top: -228px;
    margin-left: 645px;
    font-family: 'Amaranth', sans-serif;


}


.content-container {
    white-space: nowrap;
}

.highArrow {
    margin-left: 600px;
    margin-top: -350px;

}

#lowest {
    margin-left: 645px;
    margin-top: 35px;
    font-family: 'Amaranth', sans-serif;
}

.lowArrow {
    margin-left: 600px;
    margin-top: -250px;
}

#humidity {
    margin-left: 645px;
    margin-top: 30px;
    font-family: 'Amaranth', sans-serif;
}

.rainIcon {
    margin-left: 600px;
    margin-top: -90px;
}

#wind {
    margin-left: 950px;
    margin-top: -209px;
    font-family: 'Amaranth', sans-serif;
}

.custom-card-style {
    border: 2px solid #000;
    border-radius: 0;
    display: flex;
    justify-content: center;



}

#dayss {
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}

.vector{
   display: flex;
   justify-content: center;
   align-items: center;
}